<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Soil Analysis App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ยินดีต้อนรับเกษตรกรไทย</h1>
        <p>ใส่ข้อมูลแร่ธาตุในดินของคุณ แล้วดูกันว่าคุณควรปรับปรุงดินอย่างไร!!</p><br><br>
        <p> </p>
        <a href="/start" class="btn">Start Now</a> <br><br>
        <a href="/info" class="btn">Info </a><a href="/how_to" class="btn">How To</a>
    </div>
</body>
</html>
